* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: rgb(24, 24, 24);
  color: rgb(200, 200, 200);
}

iframe{ width:50px; height:50px; display:block; }

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  width: 100%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.66666667%;
}

.col-4 {
  width: 33.33333333%
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.66666667%;
}

.col-1 {
  width: 8.33333333%;
}

.center-text-trick {
  height: 64px;
  line-height: 64px;
  white-space: nowrap;
}

.inline-form {
  position: relative;
  margin-left: 16px;
  display: inline-block;
}

form {
  display: inline-block;
}

.navbar-fixed h1 {
  margin: 0;
  margin-top: 12px;
  padding: 0;
  font-size: 24px;
  line-height: 48px;
  font-weight: 500;
}

input {
  border: none;
  line-height: 32px;
  border-radius: 16px;
}

.form-input {
  padding-left: 24px;
}

form i {
  color: #000;
  margin-top: 24px;
  position: absolute;
  padding-left: 8px;
}

.fa-spotify {
  float: left;
  color: #1ED760;
  padding-top: 16px;
  padding-left: 8px;
  padding-right: 8px;
}

.button {
    margin-left: 16px;
    color: #fff;
    background-color: #1ED760;
    border: 1px solid #1ed760;
    border-radius: 20px;
    line-height: 0;
    padding: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
}

.button:hover {
  color: #fff;
  background: #43e57d;
  border: 1px solid #43e57d;
  cursor: pointer;
  outline: none;
}

.button.active.focus, .button.active:focus, .button.focus, .button:active.focus, .button:active:focus, .btn:focus {
    outline: none;
    background-color: #1ED760;
    border: 1px solid #1ed760;
    color: white: ;
}

.results {
  text-align: left;
  padding-left: 16px;
  padding-top: 16px;
  margin-top: 80px;
}

.selected {
  color: #7c25f8;
  font-weight: 800;
}

.name {
  cursor: pointer;
}

.artistInfo {
  transform-origin: top;
  position: fixed;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  height: auto;
  color: #fff;
  padding: 24px;
  max-width: 480px;
}

.artistImage {
  position: relative;
  display: inline-block;
  width: 128px;
  height: 128px;
  background-position: center center;
  background-size: cover;
}

.artistName {
  position: absolute;
  top: 0;
  margin: 0;
  margin-top: 16px;
  width: 256px;
  margin-left: 16px;
  display: inline-block;
}

.tracks {
  padding: 0;
  margin: 0;
  color: #fff;
}

.trackHeader {
  color: rgb(200, 200, 200);
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828; 
}

.number {
  min-width: 16px;
  display: inline-block;
}

.song {
  margin-left: 28px;
  display: inline-block;
}

.tracksList {  
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-bottom: 1px solid #282828;
}

.trackNumber {
  color: rgb(200, 200, 200);
  position: absolute;
}

.play {
  position: relative;
  left: 0;
}

.trackName {
  margin-left: 8px;
  display: inline-block;
}

.artistInfo i {
  margin-left: 24px;
}

.playing {
  background-color: #282828;
  color: #1ED760;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  white-space: nowrap;
}

.hidden {
  display: none;
}


@media (min-width: 640px){
  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-6 {
    width: 50%;
  }

  .col-12 {
    width: 100%;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 37px;
  }

  .results {
    font-size: 24px;
  }  
}

@media (min-width: 992px) and (max-width: 1199px) {
  .results {
    font-size: 32px;
  }

   .artistInfo {
    transform: scale(1.3);
  }
}

@media (min-width: 1200px) {
  .results {
    font-size: 36px;
  }

  .artistInfo {
    transform: scale(1.5);
  }
}

@media (max-width: 767px) {

  .navbar-fixed h1 {
    font-size: 18px;
  }
  
  .artistImage {
    width: 64px;
    height: 64px;
    margin-right: 256px;
  }

  .artistName {
    position: initial;
    margin-left: 0;
    margin-top: 0;
    width: initial;
  }

  .artistName h2 {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .tracksList {
    padding-top: 4px;
    padding-bottom: 4px;
  }

/*  .navbar-fixed h1 {
    font-size: 14px;
  }*/

  /*.center-text-trick {
    height: 160px;
    line-height: 80px;
    white-space: nowrap;
  }

  .form-input {
    margin-right: 8px;
  } 
  
  .pull-right {
    float: left !important;
  }

  .inline-form {
    display: inline-flex;
    padding-bottom: 4px;
    float: left !important;
  }

  form i {
      margin-top: 8px;
  }

  .button {
    margin-top: 2px;
    margin-left: 2px;
    display: flex;
    margin: 0;
    margin-top: 4px;
  }*/
}