
body{
    background-color: rgb(196, 194, 194);
    font-family: 'Karla', sans-serif;  
    z-index: -1000;
}

.welcome-header{
    font-size: 1.3em;
    text-shadow: #999694 -4px 1px 6px;
}

.search-form{
    text-align: center;
}

.search-artist-text{
    text-align: center;
    width: 100%;
    max-width: 615px;
    height: 30px;
    border: 1px black solid;
    border-radius: 5px 5px 5px 5px;
    outline-color:  #999694;
    outline: none;
    font-size: .8em;
}

.search-artist-text:focus{
    box-shadow: 0 0 0 2pt black;
}

.search-artist-text:hover{
    box-shadow: 0 0 0 2pt black;
}

.main-container{
    border-radius: 5px 5px 5px 5px;
    border: 1px black solid;
    background-color:rgb(249, 249, 250);
    font-size: .9em;
    box-shadow: 8px 7px 5px 0px #656768;       
}

.main-container:hover{
    box-shadow: 0 0 0 2pt black;
}

.artist-container{
    padding: 10px;
}

.img-container{
    padding: 20px 0 10px 10px;
}

.artist-img{
    height: 250px;
    width: 250px;
}

.play-artist{
    width: 100px;
    height: 35px;
}

.disclaimer{
    font-size: .9em;
}

.find-artist-btn{
    max-width: 175px;
    width: 100%;
    border: 1px black solid;
    font-size: .8em;
    background-color: white;
    outline: none;
    font-family: 'Karla', sans-serif;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 20px;
}

.find-artist-btn:focus{
    box-shadow: 0 0 0 2pt black;
}

.find-artist-btn:hover{
    box-shadow: 0 0 0 2pt black;
}

.spotify-iframe{
    margin-top: 75px;
}

.search-artist-text{
    margin-top: 15px;
}

.form-div{
    margin-bottom: 15px;
}

.show-state{
    font-family: 'Karla', sans-serif;
    padding: 5px;
}

.state-display{
    display: inline-block;
    margin-right: 10px;
}

@media only screen and (min-width: 950px){

    .welcome-header{
        font-size: 2.5em;
    }

    .search-artist-text{
        font-size: 1.4em;
    }

    .main-container{
        font-size: 1.4em;
    }

    .find-artist-btn{
         font-size: 1.3em;
    }

    .artist-img{
        height: 100%;
        width: 100%;
    }
}